*{
box-sizing:border-box;
margin:0;
padding:0;
font-family:Arial,sans-serif;
}


:root{

--brown:#5b4636;
--cream:#f7f1e8;
--orange:#d97745;
--card:#ffffff;

}


body{

background:var(--cream);
color:#333;

}



.layout{

display:flex;
min-height:100vh;

}



aside{

width:260px;
background:#2f2a26;
color:white;
padding:40px 25px;
position:fixed;
height:100vh;

}


aside h1{

font-size:38px;
line-height:1;

}



nav{

margin-top:50px;
display:flex;
flex-direction:column;
gap:20px;

}



nav a{

color:#ddd;
text-decoration:none;
font-size:18px;

}


nav a:hover{

color:#ffb26b;

}


.side-note{

position:absolute;
bottom:40px;
font-size:14px;
color:#bbb;

}



main{

margin-left:260px;
padding:50px;

}



.top{

margin-bottom:40px;

}


.top h2{

font-size:42px;

}



.top p{

margin-top:15px;
color:#666;

}




.cards{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:25px;

}



.card{

background:var(--card);
padding:30px;
border-radius:5px;
border:1px solid #ddd;
position:relative;
min-height:250px;
transition:.3s;

}


.card:hover{

transform:translateY(-8px);
box-shadow:0 15px 30px rgba(0,0,0,.15);

}



.number{

position:absolute;
top:15px;
right:20px;
font-size:40px;
color:#eee;
font-weight:bold;

}



.card h3{

font-size:28px;
margin-bottom:20px;

}


.card p{

margin-bottom:12px;
line-height:1.5;
color:#555;

}


.card span{

position:absolute;
bottom:20px;
left:30px;
background:#f3d19c;
padding:6px 14px;
font-size:13px;

}




.blog{

margin-top:60px;
display:flex;
gap:20px;

}



.blog div{

background:white;
padding:25px;
border-left:5px solid var(--orange);
flex:1;

}



@media(max-width:900px){


aside{

position:relative;
width:100%;
height:auto;

}


.layout{

flex-direction:column;

}


main{

margin-left:0;

}


.cards{

grid-template-columns:1fr;

}


.blog{

flex-direction:column;

}

}